
.App {
  text-align: center;
  margin: 100px; 
  /* background-color: rgb(243, 243, 167); */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#project-table {
  border: 1px solid black;
  display: grid;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  grid-template-columns: auto auto auto auto auto;
}

 .project-table-header {
  border-bottom: 1px solid black;
  font-weight: bold;

} 

#timesheet-table {
  border: 1px solid black;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}

 .timesheet-table-header {
  border-bottom: 1px solid black;
  font-weight: bold;

} 

.project-delete-btn {
  opacity: 0
}

.project-delete-btn:hover {
  opacity: 1  
}



.navbar-nav {
  display: inline;
  list-style-type: none
}

nav {
  display: inline;
  list-style-type: none
}

input#myCheck{
  text-align: center;
  width: 100%; 
}
